<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Moving-data-to-a-subset-classes" data-toc-modified-id="Moving-data-to-a-subset-classes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Moving data to a subset classes</a></span><ul class="toc-item"><li><span><a href="#Creating-a-single-dataframe-for-all-classes-of--AF3" data-toc-modified-id="Creating-a-single-dataframe-for-all-classes-of--AF3-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Creating a single dataframe for all classes of  AF3</a></span></li></ul></li><li><span><a href="#RUN-FROM-HERE" data-toc-modified-id="RUN-FROM-HERE-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>RUN FROM HERE</a></span><ul class="toc-item"><li><span><a href="#Read-CSV-directly" data-toc-modified-id="Read-CSV-directly-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Read CSV directly</a></span></li><li><span><a href="#Pre-processing" data-toc-modified-id="Pre-processing-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Pre processing</a></span></li></ul></li></ul></div>

In [29]:
import os
import shutil
import pandas as pd

# Moving data to a subset classes

- Zebra: n02391049
- Football: n04254680
- Strawberry: n07745940
- Ambulance: n02701002 
- Orange: n07747607
- Kite: n01608432
- Flamingo: n02007558
- Stethescope: n04317175
- Toaster: n04442312
- Mushroom: n07734744

In [2]:
path1 = 'data/MindBigData-Imagenet'
path2 = 'data/subset'

In [19]:
def chckRename(x):
    dict_t = {"n02391049": "Zebra",
    "n04254680": "Football",
    "n07745940": "Strawberry",
    "n02701002": "Ambulance", 
    "n07747607": "Orange",
    "n01608432": "Kite",
    "n02007558": "Flamingo",
    "n04317175": "Stethescope",
    "n04442312": "Toaster",
    "n07734744": "Mushroom"}
    temp = ''
    for a in dict_t.keys():
        if x.find(a)!=-1:
            temp = dict_t[a]
            break
    if temp!='':
        return temp
    else:
        return 0

In [25]:
chckRename("MindBigData_Imagenet_Insight_n01608432_10283_1_1653.csv")

'Kite'

In [27]:
counter= 0
for a in os.listdir(path1):
    if chckRename(a)!=0:
        print(a)
        shutil.copy(f"{path1}/{a}", f"{path2}/{chckRename(a)}-{counter}.csv")
        counter+=1
#         break
    else:
        pass

MindBigData_Imagenet_Insight_n01608432_10283_1_1653.csv
MindBigData_Imagenet_Insight_n01608432_11675_1_2037.csv
MindBigData_Imagenet_Insight_n01608432_11792_1_2583.csv
MindBigData_Imagenet_Insight_n01608432_1190_1_2438.csv
MindBigData_Imagenet_Insight_n01608432_13429_1_1044.csv
MindBigData_Imagenet_Insight_n01608432_14568_1_1133.csv
MindBigData_Imagenet_Insight_n01608432_16447_1_2686.csv
MindBigData_Imagenet_Insight_n01608432_16774_1_2690.csv
MindBigData_Imagenet_Insight_n01608432_1713_1_2246.csv
MindBigData_Imagenet_Insight_n01608432_18082_1_561.csv
MindBigData_Imagenet_Insight_n01608432_19809_1_174.csv
MindBigData_Imagenet_Insight_n01608432_26662_1_1855.csv
MindBigData_Imagenet_Insight_n01608432_2879_1_2701.csv
MindBigData_Imagenet_Insight_n01608432_3145_1_206.csv
MindBigData_Imagenet_Insight_n01608432_3347_1_419.csv
MindBigData_Imagenet_Insight_n01608432_35811_1_898.csv
MindBigData_Imagenet_Insight_n01608432_5152_1_2502.csv
MindBigData_Imagenet_Insight_n01608432_5808_1_2277.csv
MindBigData_Imagenet_Insight_n01608432_6293_1_421.csv
MindBigData_Imagenet_Insight_n01608432_6304_1_481.csv
MindBigData_Imagenet_Insight_n01608432_6586_1_1568.csv
MindBigData_Imagenet_Insight_n01608432_6593_1_1258.csv
MindBigData_Imagenet_Insight_n01608432_6607_1_1303.csv
MindBigData_Imagenet_Insight_n01608432_838_1_1963.csv
MindBigData_Imagenet_Insight_n01608432_8603_1_1572.csv
MindBigData_Imagenet_Insight_n01608432_9045_1_1750.csv
MindBigData_Imagenet_Insight_n01608432_9114_1_371.csv
MindBigData_Imagenet_Insight_n01608432_9233_1_44.csv
MindBigData_Imagenet_Insight_n01608432_9972_1_1765.csv
MindBigData_Imagenet_Insight_n02007558_10218_1_1709.csv
MindBigData_Imagenet_Insight_n02007558_10880_1_440.csv
MindBigData_Imagenet_Insight_n02007558_12487_1_1562.csv
MindBigData_Imagenet_Insight_n02007558_16920_1_202.csv
MindBigData_Imagenet_Insight_n02007558_22462_1_821.csv
MindBigData_Imagenet_Insight_n02007558_2721_1_1696.csv
MindBigData_Imagenet_Insight_n02007558_3285_1_263.csv
MindBigData_Imagenet_Insight_n02007558_4472_1_2470.csv
MindBigData_Imagenet_Insight_n02007558_4595_1_575.csv
MindBigData_Imagenet_Insight_n02007558_4633_1_6.csv
MindBigData_Imagenet_Insight_n02007558_4764_1_2468.csv
MindBigData_Imagenet_Insight_n02007558_5077_1_2358.csv
MindBigData_Imagenet_Insight_n02007558_6023_1_150.csv
MindBigData_Imagenet_Insight_n02007558_6509_1_477.csv
MindBigData_Imagenet_Insight_n02007558_6555_1_23.csv
MindBigData_Imagenet_Insight_n02007558_6572_1_993.csv
MindBigData_Imagenet_Insight_n02007558_6910_1_1237.csv
MindBigData_Imagenet_Insight_n02007558_7106_1_608.csv
MindBigData_Imagenet_Insight_n02007558_7651_1_928.csv
MindBigData_Imagenet_Insight_n02007558_8766_1_1887.csv
MindBigData_Imagenet_Insight_n02007558_9166_1_985.csv
MindBigData_Imagenet_Insight_n02007558_9755_1_106.csv
MindBigData_Imagenet_Insight_n02007558_9801_1_2040.csv
MindBigData_Imagenet_Insight_n02007558_998_1_1683.csv
MindBigData_Imagenet_Insight_n02391049_10461_1_697.csv
MindBigData_Imagenet_Insight_n02391049_10504_1_1696.csv
MindBigData_Imagenet_Insight_n02391049_10613_1_972.csv
MindBigData_Imagenet_Insight_n02391049_1846_1_1435.csv
MindBigData_Imagenet_Insight_n02391049_2225_1_90.csv
MindBigData_Imagenet_Insight_n02391049_2363_1_1688.csv
MindBigData_Imagenet_Insight_n02391049_2623_1_2633.csv
MindBigData_Imagenet_Insight_n02391049_2631_1_106.csv
MindBigData_Imagenet_Insight_n02391049_2973_1_210.csv
MindBigData_Imagenet_Insight_n02391049_3436_1_1458.csv
MindBigData_Imagenet_Insight_n02391049_7416_1_1635.csv
MindBigData_Imagenet_Insight_n02391049_809_1_2509.csv
MindBigData_Imagenet_Insight_n02391049_8878_1_519.csv
MindBigData_Imagenet_Insight_n02391049_9000_1_491.csv
MindBigData_Imagenet_Insight_n02391049_9400_1_202.csv
MindBigData_Imagenet_Insight_n02391049_9421_1_1936.csv
MindBigData_Imagenet_Insight_n02701002_1371_1_2740.csv
MindBigData_Imagenet_Insight_n02701002_14861_1_1993.csv
MindBigData_Imagenet_Insight_n02701002_1489_1_1866.csv
MindBigData_Imagenet_Insight_n02701002_1533_1_1810.csv
MindBigData_Imagenet_Insight_n02701002_1802_1_1845.csv
MindBigData_Imagenet_Insight_n02701002_1939_1_2451.csv
MindBigData_Imagenet_Insight_n02701002_2413_1_736.csv
MindBigData_Imagenet_Insight_n02701002_2821_1_1492.csv
MindBigData_Imagenet_Insight_n02701002_28430_1_1012.csv
MindBigData_Imagenet_Insight_n02701002_3326_1_1377.csv
MindBigData_Imagenet_Insight_n02701002_3673_1_2585.csv
MindBigData_Imagenet_Insight_n02701002_3776_1_2302.csv
MindBigData_Imagenet_Insight_n02701002_4095_1_1385.csv
MindBigData_Imagenet_Insight_n02701002_4439_1_2364.csv
MindBigData_Imagenet_Insight_n02701002_4956_1_288.csv
MindBigData_Imagenet_Insight_n02701002_5690_1_1164.csv
MindBigData_Imagenet_Insight_n02701002_6070_1_973.csv
MindBigData_Imagenet_Insight_n02701002_6369_1_2641.csv
MindBigData_Imagenet_Insight_n02701002_6553_1_1101.csv
MindBigData_Imagenet_Insight_n02701002_7065_1_2089.csv
MindBigData_Imagenet_Insight_n02701002_728_1_2447.csv
MindBigData_Imagenet_Insight_n02701002_8_1_1759.csv
MindBigData_Imagenet_Insight_n04254680_1247_1_2029.csv
MindBigData_Imagenet_Insight_n04254680_1539_1_770.csv
MindBigData_Imagenet_Insight_n04254680_2004_1_2412.csv
MindBigData_Imagenet_Insight_n04254680_3434_1_2128.csv
MindBigData_Imagenet_Insight_n04254680_3905_1_2053.csv
MindBigData_Imagenet_Insight_n04254680_4054_1_1110.csv
MindBigData_Imagenet_Insight_n04254680_4440_1_1247.csv
MindBigData_Imagenet_Insight_n04254680_4926_1_1767.csv
MindBigData_Imagenet_Insight_n04254680_4956_1_266.csv
MindBigData_Imagenet_Insight_n04254680_5415_1_1809.csv
MindBigData_Imagenet_Insight_n04254680_562_1_1250.csv
MindBigData_Imagenet_Insight_n04254680_5637_1_403.csv
MindBigData_Imagenet_Insight_n04254680_5904_1_110.csv
MindBigData_Imagenet_Insight_n04254680_6684_1_1608.csv
MindBigData_Imagenet_Insight_n04254680_7101_1_623.csv
MindBigData_Imagenet_Insight_n04254680_715_1_1952.csv
MindBigData_Imagenet_Insight_n04254680_7240_1_1396.csv
MindBigData_Imagenet_Insight_n04254680_7741_1_2521.csv
MindBigData_Imagenet_Insight_n04254680_7822_1_1425.csv
MindBigData_Imagenet_Insight_n04254680_8013_1_2238.csv
MindBigData_Imagenet_Insight_n04254680_8129_1_1569.csv
MindBigData_Imagenet_Insight_n04254680_8253_1_1352.csv
MindBigData_Imagenet_Insight_n04254680_8415_1_2113.csv
MindBigData_Imagenet_Insight_n04254680_9065_1_903.csv
MindBigData_Imagenet_Insight_n04254680_9175_1_1615.csv
MindBigData_Imagenet_Insight_n04254680_9478_1_73.csv
MindBigData_Imagenet_Insight_n04317175_10060_1_2201.csv
MindBigData_Imagenet_Insight_n04317175_10943_1_1690.csv
MindBigData_Imagenet_Insight_n04317175_12100_1_1039.csv
MindBigData_Imagenet_Insight_n04317175_14066_1_2234.csv
MindBigData_Imagenet_Insight_n04317175_1429_1_1064.csv
MindBigData_Imagenet_Insight_n04317175_1603_1_437.csv
MindBigData_Imagenet_Insight_n04317175_2825_1_894.csv
MindBigData_Imagenet_Insight_n04317175_2973_1_2431.csv
MindBigData_Imagenet_Insight_n04317175_3122_1_1754.csv
MindBigData_Imagenet_Insight_n04317175_3150_1_1626.csv
MindBigData_Imagenet_Insight_n04317175_3653_1_675.csv
MindBigData_Imagenet_Insight_n04317175_4076_1_1456.csv
MindBigData_Imagenet_Insight_n04317175_4141_1_1382.csv
MindBigData_Imagenet_Insight_n04317175_5488_1_1375.csv
MindBigData_Imagenet_Insight_n04317175_6109_1_2497.csv
MindBigData_Imagenet_Insight_n04317175_8645_1_463.csv
MindBigData_Imagenet_Insight_n04317175_877_1_1583.csv
MindBigData_Imagenet_Insight_n04317175_8994_1_550.csv
MindBigData_Imagenet_Insight_n04317175_9360_1_1380.csv
MindBigData_Imagenet_Insight_n04317175_9704_1_2366.csv
MindBigData_Imagenet_Insight_n04442312_10258_1_2589.csv
MindBigData_Imagenet_Insight_n04442312_10339_1_1640.csv
MindBigData_Imagenet_Insight_n04442312_11136_1_1766.csv
MindBigData_Imagenet_Insight_n04442312_11458_1_1295.csv
MindBigData_Imagenet_Insight_n04442312_11523_1_1742.csv
MindBigData_Imagenet_Insight_n04442312_11965_1_1970.csv
MindBigData_Imagenet_Insight_n04442312_14401_1_980.csv
MindBigData_Imagenet_Insight_n04442312_14598_1_41.csv
MindBigData_Imagenet_Insight_n04442312_15472_1_385.csv
MindBigData_Imagenet_Insight_n04442312_15554_1_969.csv
MindBigData_Imagenet_Insight_n04442312_16196_1_43.csv
MindBigData_Imagenet_Insight_n04442312_16506_1_306.csv
MindBigData_Imagenet_Insight_n04442312_19672_1_2417.csv
MindBigData_Imagenet_Insight_n04442312_20036_1_1030.csv
MindBigData_Imagenet_Insight_n04442312_20332_1_1119.csv
MindBigData_Imagenet_Insight_n04442312_20499_1_1757.csv
MindBigData_Imagenet_Insight_n04442312_20673_1_2265.csv
MindBigData_Imagenet_Insight_n04442312_21403_1_1761.csv
MindBigData_Imagenet_Insight_n04442312_22181_1_1430.csv
MindBigData_Imagenet_Insight_n04442312_2475_1_771.csv
MindBigData_Imagenet_Insight_n04442312_26475_1_1646.csv
MindBigData_Imagenet_Insight_n04442312_2846_1_2690.csv
MindBigData_Imagenet_Insight_n04442312_355_1_119.csv
MindBigData_Imagenet_Insight_n04442312_4192_1_890.csv
MindBigData_Imagenet_Insight_n04442312_4807_1_2539.csv
MindBigData_Imagenet_Insight_n04442312_7697_1_2273.csv
MindBigData_Imagenet_Insight_n04442312_937_1_925.csv
MindBigData_Imagenet_Insight_n04442312_9626_1_1719.csv
MindBigData_Imagenet_Insight_n07734744_10037_1_345.csv
MindBigData_Imagenet_Insight_n07734744_1260_1_2269.csv
MindBigData_Imagenet_Insight_n07734744_13671_1_2769.csv
MindBigData_Imagenet_Insight_n07734744_14447_1_1983.csv
MindBigData_Imagenet_Insight_n07734744_1449_1_2062.csv
MindBigData_Imagenet_Insight_n07734744_17211_1_1713.csv
MindBigData_Imagenet_Insight_n07734744_17290_1_96.csv
MindBigData_Imagenet_Insight_n07734744_1916_1_2050.csv
MindBigData_Imagenet_Insight_n07734744_1966_1_269.csv
MindBigData_Imagenet_Insight_n07734744_1980_1_2484.csv
MindBigData_Imagenet_Insight_n07734744_2491_1_917.csv
MindBigData_Imagenet_Insight_n07734744_2693_1_1951.csv
MindBigData_Imagenet_Insight_n07734744_2737_1_2496.csv
MindBigData_Imagenet_Insight_n07734744_3192_1_2768.csv
MindBigData_Imagenet_Insight_n07734744_3768_1_2609.csv
MindBigData_Imagenet_Insight_n07734744_3946_1_2591.csv
MindBigData_Imagenet_Insight_n07734744_4059_1_2431.csv
MindBigData_Imagenet_Insight_n07734744_491_1_2517.csv
MindBigData_Imagenet_Insight_n07734744_5639_1_73.csv
MindBigData_Imagenet_Insight_n07734744_5707_1_2628.csv
MindBigData_Imagenet_Insight_n07734744_5709_1_1199.csv
MindBigData_Imagenet_Insight_n07734744_5733_1_2478.csv
MindBigData_Imagenet_Insight_n07734744_620_1_851.csv
MindBigData_Imagenet_Insight_n07734744_6432_1_1777.csv
MindBigData_Imagenet_Insight_n07734744_6714_1_2347.csv
MindBigData_Imagenet_Insight_n07734744_6904_1_824.csv
MindBigData_Imagenet_Insight_n07734744_7354_1_2039.csv
MindBigData_Imagenet_Insight_n07734744_9670_1_1855.csv
MindBigData_Imagenet_Insight_n07745940_11210_1_260.csv
MindBigData_Imagenet_Insight_n07745940_11228_1_2581.csv
MindBigData_Imagenet_Insight_n07745940_1218_1_1394.csv
MindBigData_Imagenet_Insight_n07745940_12439_1_1680.csv
MindBigData_Imagenet_Insight_n07745940_13018_1_1320.csv
MindBigData_Imagenet_Insight_n07745940_13239_1_120.csv
MindBigData_Imagenet_Insight_n07745940_13846_1_158.csv
MindBigData_Imagenet_Insight_n07745940_13909_1_2257.csv
MindBigData_Imagenet_Insight_n07745940_14669_1_1890.csv
MindBigData_Imagenet_Insight_n07745940_1922_1_1892.csv
MindBigData_Imagenet_Insight_n07745940_20071_1_117.csv
MindBigData_Imagenet_Insight_n07745940_2065_1_1393.csv
MindBigData_Imagenet_Insight_n07745940_20977_1_2739.csv
MindBigData_Imagenet_Insight_n07745940_2392_1_591.csv
MindBigData_Imagenet_Insight_n07745940_2759_1_773.csv
MindBigData_Imagenet_Insight_n07745940_3161_1_1613.csv
MindBigData_Imagenet_Insight_n07745940_482_1_2468.csv
MindBigData_Imagenet_Insight_n07745940_5664_1_1596.csv
MindBigData_Imagenet_Insight_n07745940_6219_1_129.csv
MindBigData_Imagenet_Insight_n07745940_6265_1_1955.csv
MindBigData_Imagenet_Insight_n07745940_6457_1_820.csv
MindBigData_Imagenet_Insight_n07745940_6511_1_1357.csv
MindBigData_Imagenet_Insight_n07745940_6819_1_2730.csv
MindBigData_Imagenet_Insight_n07745940_792_1_2536.csv
MindBigData_Imagenet_Insight_n07745940_8158_1_102.csv
MindBigData_Imagenet_Insight_n07745940_9104_1_383.csv

MindBigData_Imagenet_Insight_n07747607_10552_1_998.csv
MindBigData_Imagenet_Insight_n07747607_11082_1_1410.csv
MindBigData_Imagenet_Insight_n07747607_11592_1_1596.csv
MindBigData_Imagenet_Insight_n07747607_1356_1_1863.csv
MindBigData_Imagenet_Insight_n07747607_2119_1_751.csv
MindBigData_Imagenet_Insight_n07747607_21269_1_2721.csv
MindBigData_Imagenet_Insight_n07747607_3508_1_584.csv
MindBigData_Imagenet_Insight_n07747607_3550_1_401.csv
MindBigData_Imagenet_Insight_n07747607_40186_1_1376.csv
MindBigData_Imagenet_Insight_n07747607_4399_1_1306.csv
MindBigData_Imagenet_Insight_n07747607_50869_1_2161.csv
MindBigData_Imagenet_Insight_n07747607_53937_1_274.csv
MindBigData_Imagenet_Insight_n07747607_55314_1_2688.csv
MindBigData_Imagenet_Insight_n07747607_6119_1_1088.csv
MindBigData_Imagenet_Insight_n07747607_63779_1_2100.csv
MindBigData_Imagenet_Insight_n07747607_64211_1_2168.csv
MindBigData_Imagenet_Insight_n07747607_67457_1_407.csv
MindBigData_Imagenet_Insight_n07747607_712_1_668.csv
MindBigData_Imagenet_Insight_n07747607_9809_1_1526.csv

## Creating a single dataframe for all classes of  AF3

In [34]:
!dir "data/subset"

 Volume in drive D is DATA
 Volume Serial Number is 6CAF-913D

 Directory of D:\Github\thoughtsToText\data\subset

12/31/2019  05:20 PM    <DIR>          .
12/31/2019  05:20 PM    <DIR>          ..
12/31/2019  05:20 PM            31,717 Ambulance-69.csv
12/31/2019  05:20 PM            32,026 Ambulance-70.csv
12/31/2019  05:20 PM            32,580 Ambulance-71.csv
12/31/2019  05:20 PM            32,599 Ambulance-72.csv
12/31/2019  05:20 PM            31,547 Ambulance-73.csv
12/31/2019  05:20 PM            32,337 Ambulance-74.csv
12/31/2019  05:20 PM            32,623 Ambulance-75.csv
12/31/2019  05:20 PM            31,972 Ambulance-76.csv
12/31/2019  05:20 PM            32,001 Ambulance-77.csv
12/31/2019  05:20 PM            31,827 Ambulance-78.csv
12/31/2019  05:20 PM            32,862 Ambulance-79.csv
12/31/2019  05:20 PM            31,896 Ambulance-80.csv
12/31/2019  05:20 PM            33,336 Ambulance-81.csv
12/31/2019  05:20 PM            31,711 Ambulance-82.csv
12/31/2019  05:20 PM            32,283 Ambulance-83.csv
12/31/2019  05:20 PM            32,180 Ambulance-84.csv
12/31/2019  05:20 PM            32,188 Ambulance-85.csv
12/31/2019  05:20 PM            32,202 Ambulance-86.csv
12/31/2019  05:20 PM            31,917 Ambulance-87.csv
12/31/2019  05:20 PM            32,039 Ambulance-88.csv
12/31/2019  05:20 PM            32,631 Ambulance-89.csv
12/31/2019  05:20 PM            32,676 Ambulance-90.csv
12/31/2019  05:20 PM            33,029 Flamingo-29.csv
12/31/2019  05:20 PM            32,296 Flamingo-30.csv
12/31/2019  05:20 PM            31,742 Flamingo-31.csv
12/31/2019  05:20 PM            31,602 Flamingo-32.csv
12/31/2019  05:20 PM            32,531 Flamingo-33.csv
12/31/2019  05:20 PM            32,278 Flamingo-34.csv
12/31/2019  05:20 PM            31,804 Flamingo-35.csv
12/31/2019  05:20 PM            31,498 Flamingo-36.csv
12/31/2019  05:20 PM            31,944 Flamingo-37.csv
12/31/2019  05:20 PM            31,988 Flamingo-38.csv
12/31/2019  05:20 PM            32,271 Flamingo-39.csv
12/31/2019  05:20 PM            31,833 Flamingo-40.csv
12/31/2019  05:20 PM            31,881 Flamingo-41.csv
12/31/2019  05:20 PM            32,168 Flamingo-42.csv
12/31/2019  05:20 PM            31,917 Flamingo-43.csv
12/31/2019  05:20 PM            31,822 Flamingo-44.csv
12/31/2019  05:20 PM            31,608 Flamingo-45.csv
12/31/2019  05:20 PM            31,779 Flamingo-46.csv
12/31/2019  05:20 PM            32,251 Flamingo-47.csv
12/31/2019  05:20 PM            32,182 Flamingo-48.csv
12/31/2019  05:20 PM            32,172 Flamingo-49.csv
12/31/2019  05:20 PM            31,972 Flamingo-50.csv
12/31/2019  05:20 PM            32,473 Flamingo-51.csv
12/31/2019  05:20 PM            31,686 Flamingo-52.csv
12/31/2019  05:20 PM            32,581 Football-100.csv
12/31/2019  05:20 PM            31,918 Football-101.csv
12/31/2019  05:20 PM            32,721 Football-102.csv
12/31/2019  05:20 PM            31,965 Football-103.csv
12/31/2019  05:20 PM            32,735 Football-104.csv
12/31/2019  05:20 PM            32,516 Football-105.csv
12/31/2019  05:20 PM            32,221 Football-106.csv
12/31/2019  05:20 PM            31,834 Football-107.csv
12/31/2019  05:20 PM            32,507 Football-108.csv
12/31/2019  05:20 PM            33,242 Football-109.csv
12/31/2019  05:20 PM            31,202 Football-110.csv
12/31/2019  05:20 PM            32,176 Football-111.csv
12/31/2019  05:20 PM            31,964 Football-112.csv
12/31/2019  05:20 PM            31,980 Football-113.csv
12/31/2019  05:20 PM            32,411 Football-114.csv
12/31/2019  05:20 PM            32,218 Football-115.csv
12/31/2019  05:20 PM            31,896 Football-116.csv
12/31/2019  05:20 PM            32,454 Football-91.csv
12/31/2019  05:20 PM            32,254 Football-92.csv
12/31/2019  05:20 PM            32,997 Football-93.csv
12/31/2019  05:20 PM            31,884 Football-94.csv
12/31/2019  05:20 PM            32,306 Football-95.csv
12/31/2019  05:20 PM            34,260 Football-96.csv
12/31/2019  05:20 PM            31,916 Football-97.csv
12/31/2019  05:20 PM            31,644 Football-98.csv
12/31/2019  05:20 PM            32,234 Football-99.csv
12/31/2019  05:20 PM            32,649 Kite-0.csv
12/31/2019  05:20 PM            32,026 Kite-1.csv
12/31/2019  05:20 PM            31,992 Kite-10.csv
12/31/2019  05:20 PM            31,602 Kite-11.csv
12/31/2019  05:20 PM            33,247 Kite-12.csv
12/31/2019  05:20 PM            31,850 Kite-13.csv
12/31/2019  05:20 PM            32,285 Kite-14.csv
12/31/2019  05:20 PM            31,876 Kite-15.csv
12/31/2019  05:20 PM            32,326 Kite-16.csv
12/31/2019  05:20 PM            32,230 Kite-17.csv
12/31/2019  05:20 PM            32,297 Kite-18.csv
12/31/2019  05:20 PM            32,340 Kite-19.csv
12/31/2019  05:20 PM            32,314 Kite-2.csv
12/31/2019  05:20 PM            32,278 Kite-20.csv
12/31/2019  05:20 PM            31,924 Kite-21.csv
12/31/2019  05:20 PM            32,860 Kite-22.csv
12/31/2019  05:20 PM            32,333 Kite-23.csv
12/31/2019  05:20 PM            31,975 Kite-24.csv
12/31/2019  05:20 PM            32,504 Kite-25.csv
12/31/2019  05:20 PM            32,113 Kite-26.csv
12/31/2019  05:20 PM            32,706 Kite-27.csv
12/31/2019  05:20 PM            32,154 Kite-28.csv
12/31/2019  05:20 PM            31,956 Kite-3.csv
12/31/2019  05:20 PM            31,913 Kite-4.csv
12/31/2019  05:20 PM            32,029 Kite-5.csv
12/31/2019  05:20 PM            31,892 Kite-6.csv
12/31/2019  05:20 PM            32,393 Kite-7.csv
12/31/2019  05:20 PM            32,335 Kite-8.csv
12/31/2019  05:20 PM            32,346 Kite-9.csv
12/31/2019  05:20 PM            32,293 Mushroom-165.csv
12/31/2019  05:20 PM            32,014 Mushroom-166.csv
12/31/2019  05:20 PM            31,926 Mushroom-167.csv
12/31/2019  05:20 PM            31,925 Mushroom-168.csv
12/31/2019  05:20 PM            32,456 Mushroom-169.csv
12/31/2019  05:20 PM            33,018 Mushroom-170.csv
12/31/2019  05:20 PM            32,285 Mushroom-171.csv
12/31/2019  05:20 PM            32,117 Mushroom-172.csv
12/31/2019  05:20 PM            33,303 Mushroom-173.csv
12/31/2019  05:20 PM            31,917 Mushroom-174.csv
12/31/2019  05:20 PM            32,134 Mushroom-175.csv
12/31/2019  05:20 PM            32,470 Mushroom-176.csv
12/31/2019  05:20 PM            32,213 Mushroom-177.csv
12/31/2019  05:20 PM            32,661 Mushroom-178.csv
12/31/2019  05:20 PM            32,488 Mushroom-179.csv
12/31/2019  05:20 PM            32,365 Mushroom-180.csv
12/31/2019  05:20 PM            31,891 Mushroom-181.csv
12/31/2019  05:20 PM            32,434 Mushroom-182.csv
12/31/2019  05:20 PM            33,355 Mushroom-183.csv
12/31/2019  05:20 PM            32,634 Mushroom-184.csv
12/31/2019  05:20 PM            32,624 Mushroom-185.csv
12/31/2019  05:20 PM            32,906 Mushroom-186.csv
12/31/2019  05:20 PM            32,211 Mushroom-187.csv
12/31/2019  05:20 PM            32,111 Mushroom-188.csv
12/31/2019  05:20 PM            32,207 Mushroom-189.csv
12/31/2019  05:20 PM            32,167 Mushroom-190.csv
12/31/2019  05:20 PM            32,023 Mushroom-191.csv
12/31/2019  05:20 PM            32,161 Mushroom-192.csv
12/31/2019  05:20 PM            32,268 Orange-219.csv
12/31/2019  05:20 PM            32,598 Orange-220.csv
12/31/2019  05:20 PM            32,665 Orange-221.csv
12/31/2019  05:20 PM            32,322 Orange-222.csv
12/31/2019  05:20 PM            32,262 Orange-223.csv
12/31/2019  05:20 PM            32,352 Orange-224.csv
12/31/2019  05:20 PM            32,511 Orange-225.csv
12/31/2019  05:20 PM            32,249 Orange-226.csv
12/31/2019  05:20 PM            31,954 Orange-227.csv
12/31/2019  05:20 PM            33,928 Orange-228.csv
12/31/2019  05:20 PM            32,773 Orange-229.csv
12/31/2019  05:20 PM            32,309 Orange-230.csv
12/31/2019  05:20 PM            32,277 Orange-231.csv
12/31/2019  05:20 PM            32,075 Orange-232.csv
12/31/2019  05:20 PM            31,934 Orange-233.csv
12/31/2019  05:20 PM            32,488 Orange-234.csv
12/31/2019  05:20 PM            31,845 Orange-235.csv
12/31/2019  05:20 PM            31,916 Orange-236.csv
12/31/2019  05:20 PM            32,331 Orange-237.csv
12/31/2019  05:20 PM            32,241 Stethescope-117.csv
12/31/2019  05:20 PM            31,796 Stethescope-118.csv
12/31/2019  05:20 PM            32,063 Stethescope-119.csv
12/31/2019  05:20 PM            32,382 Stethescope-120.csv
12/31/2019  05:20 PM            32,216 Stethescope-121.csv
12/31/2019  05:20 PM            32,268 Stethescope-122.csv
12/31/2019  05:20 PM            31,945 Stethescope-123.csv
12/31/2019  05:20 PM            31,591 Stethescope-124.csv
12/31/2019  05:20 PM            32,920 Stethescope-125.csv
12/31/2019  05:20 PM            32,898 Stethescope-126.csv
12/31/2019  05:20 PM            31,930 Stethescope-127.csv
12/31/2019  05:20 PM            32,354 Stethescope-128.csv
12/31/2019  05:20 PM            34,138 Stethescope-129.csv
12/31/2019  05:20 PM            32,612 Stethescope-130.csv
12/31/2019  05:20 PM            32,705 Stethescope-131.csv
12/31/2019  05:20 PM            32,366 Stethescope-132.csv
12/31/2019  05:20 PM            31,566 Stethescope-133.csv
12/31/2019  05:20 PM            32,454 Stethescope-134.csv
12/31/2019  05:20 PM            31,908 Stethescope-135.csv
12/31/2019  05:20 PM            31,804 Stethescope-136.csv
12/31/2019  05:20 PM            31,957 Strawberry-193.csv
12/31/2019  05:20 PM            32,176 Strawberry-194.csv
12/31/2019  05:20 PM            32,320 Strawberry-195.csv
12/31/2019  05:20 PM            31,966 Strawberry-196.csv
12/31/2019  05:20 PM            32,898 Strawberry-197.csv
12/31/2019  05:20 PM            31,828 Strawberry-198.csv
12/31/2019  05:20 PM            32,657 Strawberry-199.csv
12/31/2019  05:20 PM            32,907 Strawberry-200.csv
12/31/2019  05:20 PM            32,077 Strawberry-201.csv
12/31/2019  05:20 PM            32,335 Strawberry-202.csv
12/31/2019  05:20 PM            32,301 Strawberry-203.csv
12/31/2019  05:20 PM            32,538 Strawberry-204.csv
12/31/2019  05:20 PM            32,308 Strawberry-205.csv
12/31/2019  05:20 PM            32,616 Strawberry-206.csv
12/31/2019  05:20 PM            31,968 Strawberry-207.csv
12/31/2019  05:20 PM            32,599 Strawberry-208.csv
12/31/2019  05:20 PM            32,601 Strawberry-209.csv
12/31/2019  05:20 PM            32,896 Strawberry-210.csv
12/31/2019  05:20 PM            31,640 Strawberry-211.csv
12/31/2019  05:20 PM            32,137 Strawberry-212.csv
12/31/2019  05:20 PM            32,176 Strawberry-213.csv
12/31/2019  05:20 PM            31,991 Strawberry-214.csv
12/31/2019  05:20 PM            32,249 Strawberry-215.csv
12/31/2019  05:20 PM            32,854 Strawberry-216.csv
12/31/2019  05:20 PM            32,607 Strawberry-217.csv
12/31/2019  05:20 PM            32,160 Strawberry-218.csv
12/31/2019  05:20 PM            33,008 Toaster-137.csv
12/31/2019  05:20 PM            32,329 Toaster-138.csv
12/31/2019  05:20 PM            31,789 Toaster-139.csv
12/31/2019  05:20 PM            33,415 Toaster-140.csv
12/31/2019  05:20 PM            32,566 Toaster-141.csv
12/31/2019  05:20 PM            32,324 Toaster-142.csv
12/31/2019  05:20 PM            31,906 Toaster-143.csv
12/31/2019  05:20 PM            32,168 Toaster-144.csv
12/31/2019  05:20 PM            32,197 Toaster-145.csv
12/31/2019  05:20 PM            31,869 Toaster-146.csv
12/31/2019  05:20 PM            32,220 Toaster-147.csv
12/31/2019  05:20 PM            32,301 Toaster-148.csv
12/31/2019  05:20 PM            32,233 Toaster-149.csv
12/31/2019  05:20 PM            31,964 Toaster-150.csv
12/31/2019  05:20 PM            32,504 Toaster-151.csv
12/31/2019  05:20 PM            32,282 Toaster-152.csv
12/31/2019  05:20 PM            32,262 Toaster-153.csv
12/31/2019  05:20 PM            31,974 Toaster-154.csv
12/31/2019  05:20 PM            32,207 Toaster-155.csv
12/31/2019  05:20 PM            31,893 Toaster-156.csv
12/31/2019  05:20 PM            33,164 Toaster-157.csv
12/31/2019  05:20 PM            32,729 Toaster-158.csv
12/31/2019  05:20 PM            32,152 Toaster-159.csv
12/31/2019  05:20 PM            32,444 Toaster-160.csv
12/31/2019  05:20 PM            32,593 Toaster-161.csv
12/31/2019  05:20 PM            31,808 Toaster-162.csv
12/31/2019  05:20 PM            32,342 Toaster-163.csv
12/31/2019  05:20 PM            31,587 Toaster-164.csv
12/31/2019  05:20 PM            31,943 Zebra-53.csv
12/31/2019  05:20 PM            32,580 Zebra-54.csv
12/31/2019  05:20 PM            31,918 Zebra-55.csv
12/31/2019  05:20 PM            32,534 Zebra-56.csv
12/31/2019  05:20 PM            32,210 Zebra-57.csv
12/31/2019  05:20 PM            31,777 Zebra-58.csv
12/31/2019  05:20 PM            32,426 Zebra-59.csv
12/31/2019  05:20 PM            31,975 Zebra-60.csv
12/31/2019  05:20 PM            32,176 Zebra-61.csv
12/31/2019  05:20 PM            31,665 Zebra-62.csv
12/31/2019  05:20 PM            32,263 Zebra-63.csv
12/31/2019  05:20 PM            32,107 Zebra-64.csv
12/31/2019  05:20 PM            32,553 Zebra-65.csv
12/31/2019  05:20 PM            31,581 Zebra-66.csv
12/31/2019  05:20 PM            32,691 Zebra-67.csv
12/31/2019  05:20 PM            32,620 Zebra-68.csv
             238 File(s)      7,680,192 bytes
               2 Dir(s)  972,501,102,592 bytes free

In [72]:
data = pd.DataFrame([])

In [73]:
for a in os.listdir(path2):
    temp = pd.read_csv(f"{path2}/{a}",header = None)
    name = a.split('-')[0]
    temp = temp[temp[0]=='AF3']
    temp.insert(0, "0",name)
#     print(temp)
    data = data.append(temp)
#     break

In [75]:
data.tail()

,0,0,1,2,3,4,5,6,7,8,...,403,404,405,406,407,408,409,410,411,412
0,Zebra,AF3,4274.871795,4282.564103,4271.794872,4253.333333,4260.512821,4275.897436,4258.461538,4245.641026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Zebra,AF3,4325.641026,4295.384615,4289.743590,4315.897436,4337.948718,4326.153846,4287.692308,4275.897436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Zebra,AF3,4265.641026,4283.076923,4281.025641,4273.846154,4292.307692,4302.564103,4286.666667,4260.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Zebra,AF3,4293.333333,4301.538462,4284.615385,4278.461538,4296.410256,4299.487179,4283.589744,4276.923077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Zebra,AF3,4276.923077,4274.358974,4286.153846,4289.230769,4278.461538,4275.897436,4281.025641,4285.128205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
data = data.fillna(0)

In [81]:
data.to_csv("data/subset_csv.csv")

# RUN FROM HERE

## Read CSV directly

In [47]:
import os
import shutil 
import pandas as pd

In [48]:
data = pd.read_csv("data/subset_csv.csv",header = 0)
data=data.drop(['Unnamed: 0'],axis =1)

In [49]:
data.head()

,0,0.1,1,2,3,4,5,6,7,8,...,403,404,405,406,407,408,409,410,411,412
0,Ambulance,AF3,4294.871795,4291.794872,4294.358974,4298.461538,4292.820513,4278.974359,4276.410256,4288.205128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Ambulance,AF3,4272.307692,4274.871795,4266.153846,4262.051282,4254.358974,4251.282051,4264.102564,4250.769231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Ambulance,AF3,4209.230769,4217.435897,4197.435897,4180.000000,4194.871795,4205.641026,4197.435897,4201.025641,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Ambulance,AF3,4287.692308,4294.358974,4312.820513,4309.743590,4288.717949,4295.384615,4313.846154,4301.538462,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Ambulance,AF3,4324.102564,4311.794872,4287.692308,4289.230769,4304.615385,4295.897436,4290.769231,4322.564103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
data.tail()

,0,0.1,1,2,3,4,5,6,7,8,...,403,404,405,406,407,408,409,410,411,412
233,Zebra,AF3,4274.871795,4282.564103,4271.794872,4253.333333,4260.512821,4275.897436,4258.461538,4245.641026,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234,Zebra,AF3,4325.641026,4295.384615,4289.743590,4315.897436,4337.948718,4326.153846,4287.692308,4275.897436,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
235,Zebra,AF3,4265.641026,4283.076923,4281.025641,4273.846154,4292.307692,4302.564103,4286.666667,4260.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236,Zebra,AF3,4293.333333,4301.538462,4284.615385,4278.461538,4296.410256,4299.487179,4283.589744,4276.923077,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237,Zebra,AF3,4276.923077,4274.358974,4286.153846,4289.230769,4278.461538,4275.897436,4281.025641,4285.128205,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
data = data.drop('0.1',axis = 1)

## Pre processing

In [52]:
data = data.fillna(0);data.head()

,0,1,2,3,4,5,6,7,8,9,...,403,404,405,406,407,408,409,410,411,412
0,Ambulance,4294.871795,4291.794872,4294.358974,4298.461538,4292.820513,4278.974359,4276.410256,4288.205128,4291.282051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Ambulance,4272.307692,4274.871795,4266.153846,4262.051282,4254.358974,4251.282051,4264.102564,4250.769231,4244.102564,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Ambulance,4209.230769,4217.435897,4197.435897,4180.000000,4194.871795,4205.641026,4197.435897,4201.025641,4202.564103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Ambulance,4287.692308,4294.358974,4312.820513,4309.743590,4288.717949,4295.384615,4313.846154,4301.538462,4288.717949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Ambulance,4324.102564,4311.794872,4287.692308,4289.230769,4304.615385,4295.897436,4290.769231,4322.564103,4334.871795,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
data = data[data.columns[:392]]

In [54]:
data['0']=data['0'].astype('category')

In [ ]:
data['0'] = data['0'].cat.codes

In [59]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,382,383,384,385,386,387,388,389,390,391
0,0,4294.871795,4291.794872,4294.358974,4298.461538,4292.820513,4278.974359,4276.410256,4288.205128,4291.282051,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,4272.307692,4274.871795,4266.153846,4262.051282,4254.358974,4251.282051,4264.102564,4250.769231,4244.102564,...,4311.794872,4322.051282,4296.923077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0,4209.230769,4217.435897,4197.435897,4180.000000,4194.871795,4205.641026,4197.435897,4201.025641,4202.564103,...,4227.179487,4225.641026,4228.205128,4233.333333,4229.743590,4241.538462,4258.461538,4240.000000,4217.948718,4215.384615
3,0,4287.692308,4294.358974,4312.820513,4309.743590,4288.717949,4295.384615,4313.846154,4301.538462,4288.717949,...,4353.333333,4330.769231,4327.692308,4350.256410,4348.205128,4328.717949,4326.666667,4327.692308,4329.743590,4327.179487
4,0,4324.102564,4311.794872,4287.692308,4289.230769,4304.615385,4295.897436,4290.769231,4322.564103,4334.871795,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000